:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* text color */
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  /* background-color */
  --main-bg-cl: #2f303a;
  --secondary-bg-cl: #ffffff;
  /* color */
  --blue-cl: #2196f3;
  --white-cl: #ffffff;
  --black-cl: #000000;
  --main-cl: #757575;
  /* animatiom */
  --primary-translate: var(--primary-translate);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  color: var(--main-txt-cl);
}

.logo {
  color: var(--blue-cl);
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.72px;
  line-height: normal;
  font-style: normal;
  text-decoration: none;
}
.logo--black {
  color: var(--black-cl);
}
.logo--white {
  color: var(--white-cl);
}
@media screen and (min-width: 480px) {
  .logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 28px;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    height: 31px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filters__btn-active {
  background-color: var(--blue-cl);
  color: var(--white-cl);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filters__btn {
  color: var(--secondary-txt-cl);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  -webkit-transition: background-color var(--primary-translate), color var(--primary-translate), -webkit-box-shadow var(--primary-translate);
  transition: background-color var(--primary-translate), color var(--primary-translate), -webkit-box-shadow var(--primary-translate);
  transition: background-color var(--primary-translate), color var(--primary-translate), box-shadow var(--primary-translate);
  transition: background-color var(--primary-translate), color var(--primary-translate), box-shadow var(--primary-translate), -webkit-box-shadow var(--primary-translate);
}
.filters__btn:hover, .filters__btn:focus {
  background-color: var(--blue-cl);
  color: var(--white-cl);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767.98px) {
  .join {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .join {
    margin-right: 74px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-right: 93px;
  }
}
.join__title {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: var(--white-cl);
  font-style: normal;
  line-height: normal;
  margin-bottom: 20px;
}
@media screen and (max-width: 767.98px) {
  .join__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .join__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.join__item {
  height: 44px;
  width: 44px;
  fill: rgba(255, 255, 255, 0.1);
}
.join__icon {
  width: 20px;
  height: 20px;
  fill: var(--white-cl);
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  -webkit-transition: background-color var(--primary-translate);
  transition: background-color var(--primary-translate);
}
.join__link:hover, .join__link:focus {
  background-color: var(--blue-cl);
}

.overlay {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  padding: 63px 24px 63px 24px;
  top: 1px;
  left: 0;
  max-width: 1600px;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--primary-translate);
  transition: -webkit-transform var(--primary-translate);
  transition: transform var(--primary-translate);
  transition: transform var(--primary-translate), -webkit-transform var(--primary-translate);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.overlay__text {
  color: var(--white-cl);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
}
.portfolio__link:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.team-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-left: 0;
  margin-bottom: 0;
}

.link-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--secondary-bg-cl);
  cursor: pointer;
  fill: #afb1b8;
  -webkit-transition: background-color var(--primary-translate);
  transition: background-color var(--primary-translate);
}
.link-socials:hover, .link-socials:focus {
  background-color: var(--blue-cl);
}

.socials-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill var(--primary-translate);
  transition: fill var(--primary-translate);
}
.link-socials:hover .socials-icon, .link-socials:focus .socials-icon {
  fill: var(--white-cl);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: visibility var(--primary-translate), opacity var(--primary-translate);
  transition: visibility var(--primary-translate), opacity var(--primary-translate);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background-color: var(--secondary-bg-cl);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-transform var(--primary-translate);
  transition: -webkit-transform var(--primary-translate);
  transition: transform var(--primary-translate);
  transition: transform var(--primary-translate), -webkit-transform var(--primary-translate);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-bg-cl);
  -webkit-transition: border-color var(--primary-translate);
  transition: border-color var(--primary-translate);
}
.modal__btn-close:focus {
  border-color: var(--blue-cl);
}

.btn-close__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transition: fill var(--primary-translate);
  transition: fill var(--primary-translate);
}
.btn-close__icon:hover {
  fill: var(--blue-cl);
}

.modal__fill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px 40px 40px 40px;
  margin: 0;
}

.modal__text {
  display: inline-block;
  height: 23px;
  color: var(--secondary-txt-cl);
  text-align: center;
  font-family: var(--main-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.modal__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 10px;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal__input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin: 0;
  padding: 0;
  padding-left: 42px;
  -webkit-transition: border var(--primary-translate);
  transition: border var(--primary-translate);
  outline: transparent;
}
.modal__input:hover, .modal__input:focus, .modal__input:active {
  cursor: pointer;
  border-color: var(--blue-cl);
}

.modal__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  fill: var(--secondary-txt-cl);
  top: 50%;
  left: 12px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: fill var(--primary-translate);
  transition: fill var(--primary-translate);
}
.modal-input:hover + .modal__icon, .modal-input:focus + .modal__icon, .modal-input:active + .modal__icon {
  fill: var(--blue-cl);
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  font-size: 12px;
  height: 14px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: var(--main-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  color: var(--main-text-color);
}

.comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: var(--main-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  color: var(--main-text-color);
}

.comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: var(--main-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  color: var(--main-text-color);
}

.comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: var(--main-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  color: var(--main-text-color);
}

.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: var(--main-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  color: var(--main-text-color);
}

.comment__text {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--secondary-txt-cl);
  font-size: 12px;
  -webkit-transition: border-color var(--primary-translate);
  transition: border-color var(--primary-translate);
  outline: transparent;
}
.comment__text:hover, .comment__text:focus {
  cursor: pointer;
  border-color: var(--blue-cl);
}

.modal__chexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  -webkit-transition: background-color var(--primary-translate);
  transition: background-color var(--primary-translate);
}

.chexbox:hover + .modal__chexbox--custom,
.chexbox:focus + .modal__chexbox--custom {
  border-color: var(--blue-cl);
}

.modal__chexbox--custom {
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid var(--secondary-txt-cl);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  -webkit-transition: background-color var(--primary-translate), border var(--primary-translate);
  transition: background-color var(--primary-translate), border var(--primary-translate);
}
.modal__chexbox--custom:hover, .modal__chexbox--custom:focus, .modal__chexbox--custom:active {
  border-color: var(--blue-cl);
}

.chexbox:checked + .modal__chexbox--custom {
  background-color: var(--blue-cl);
  border: var(--blue-cl);
}

.chexbox__icon--check {
  opacity: 0;
  -webkit-transition: opacity var(--primary-translate);
  transition: opacity var(--primary-translate);
}

.chexbox:checked + .modal__chexbox--custom .chexbox__icon--check {
  opacity: 1;
}

.agree {
  color: var(--main-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
.agree__link {
  color: var(--blue-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.submit-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--blue-cl);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-cl);
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 10px 52px;
  -webkit-transition: background-color var(--primary-translate);
  transition: background-color var(--primary-translate);
}
.submit-btn:hover, .submit-btn:focus, .submit-btn:active {
  background-color: var(--blue-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767.98px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .subscribe {
    margin-top: 60px;
    margin-left: 151px;
    margin-right: auto;
  }
}

.subscribe__title {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: var(--white-cl);
  font-style: normal;
  line-height: normal;
  margin-bottom: 20px;
  max-height: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .subscribe__title {
    text-align: center;
  }
}

.subscribe__form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767.98px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--white-cl);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  -webkit-transition: border var(--primary-translate);
  transition: border var(--primary-translate);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.48px;
}
.subscribe__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.48px;
}
.subscribe__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.48px;
}
.subscribe__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.48px;
}
.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.48px;
}
@media screen and (max-width: 767.98px) {
  .subscribe__input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .subscribe__input {
    margin-bottom: 20px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-right: 12px;
  }
}

.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--blue-cl);
  color: var(--white-cl);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  border: none;
  padding: 10px 28px;
  cursor: pointer;
  fill: var(--white-cl);
  -webkit-transition: background-color var(--primary-translate);
  transition: background-color var(--primary-translate);
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background-color: var(--blue-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__mobile {
  margin: 0;
  width: 450px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav__list {
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 767.98px) {
  .nav__list {
    display: none;
  }
}
.nav__list--link {
  color: #212121;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
  -webkit-transition: color var(--primary-translate);
  transition: color var(--primary-translate);
}
.nav__list--link__current {
  position: relative;
  color: var(--blue-cl);
  cursor: pointer;
}
.nav__list--link__current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  bottom: 0;
  background-color: var(--blue-cl);
  height: 4px;
  border-radius: 2px;
  margin-bottom: -1px;
}
.nav__list--link:focus, .nav__list--link:hover {
  color: var(--blue-cl);
}

.contact--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767.98px) {
  .contact--list {
    display: none;
  }
}

.contact__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  -webkit-transition: color var(--primary-translate);
  transition: color var(--primary-translate);
}
.contact__mail:hover, .contact__mail:focus {
  color: var(--blue-cl);
  cursor: pointer;
}
.contact__mail:hover .contact__icon, .contact__mail:focus .contact__icon {
  fill: var(--blue-cl);
}

.contact__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  -webkit-transition: color var(--primary-translate);
  transition: color var(--primary-translate);
}
.contact__tel:hover, .contact__tel:focus {
  color: var(--blue-cl);
  cursor: pointer;
}
.contact__tel:focus .contact__icon, .contact__tel:hover .contact__icon {
  fill: var(--blue-cl);
}

.contact__icon {
  margin-right: 10px;
  fill: var(--main-cl);
  -webkit-transition: fill var(--primary-translate);
  transition: fill var(--primary-translate);
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  margin-left: auto;
  border-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.svg-menu {
  background-color: white;
}

.menu-container {
  display: none;
  position: absolute;
  height: 500px;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 48px 40px 48px 40px;
  background-color: yellow;
  text-align: center;
  font-size: 20px;
}
.menu-container.is-open {
  display: block;
}

.hero {
  background-color: var(--main-bg-cl);
  text-align: center;
  width: 480;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero_style/hero-480.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero_style/hero-480.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero_style/hero-960.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero_style/hero-960.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero_style/hero-768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero_style/hero-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero_style/hero-1536.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero_style/hero-1536.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero_style/hero-1600.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero_style/hero-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero_style/hero-3200.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero_style/hero-3200.jpg");
  }
}

.main-title {
  color: var(--white-cl);
  font-weight: 900;
  letter-spacing: 1.56px;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  width: 360px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    width: 696px;
    line-height: 1.36;
    letter-spacing: 2.64px;
  }
}

.hero__btn {
  color: var(--white-cl);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  background: var(--blue-cl);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 24px;
}
.hero__btn:active {
  background-color: #188CE8;
  padding: 10px 32px;
}

.feature__list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  gap: 30px;
}
@media screen and (max-width: 767.98px) {
  .feature__list {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.feature__item {
  width: 270px;
  display: block;
  padding: 0;
}
@media screen and (max-width: 767.98px) {
  .feature__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-size: contain;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 767.98px) {
  .feature__icon {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .feature__icon {
    width: 100%;
  }
}
.feature__title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  font-size: 14px;
  margin-bottom: 10px;
  line-height: normal;
  padding: 0;
}
.feature__text {
  color: var(--main-txt-cl);
  line-height: 1.71;
}

@media screen and (max-width: 767.98px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.work__title {
  color: var(--secondary-txt-cl);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
  z-index: -1;
}

.description-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.description-work__text {
  color: var(--white-cl);
  text-align: center;
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}
.team__titele {
  color: var(--secondary-txt-cl);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 767.98px) {
  .team-list {
    width: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
.team__item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  background: var(--secondary-bg-cl);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.about {
  padding-top: 30px;
  padding-bottom: 30px;
}
.about__name {
  color: var(--secondary-txt-cl);
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.about__position {
  color: var(--main-txt-cl);
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.clients__title {
  margin-bottom: 50px;
  color: var(--secondary-txt-cl);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
@media screen and (max-width: 767.98px) {
  .clients__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 33px;
    font-size: 28px;
    letter-spacing: 0.84px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 33px;
    font-size: 28px;
    letter-spacing: 0.84px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 42px;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 100%;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: border-color var(--primary-translate);
  transition: border-color var(--primary-translate);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--blue-cl);
}
@media screen and (max-width: 767.98px) {
  .clients__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 100%;
  }
}

.clients__icon {
  fill: #afb1b8;
  -webkit-transition: fill var(--primary-translate);
  transition: fill var(--primary-translate);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--blue-cl);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* portfolio card */
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.portfolio__item {
  width: 370px;
}

.portfolio__link {
  color: var(--secondary-txt-cl);
  display: block;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: -webkit-box-shadow var(--primary-translate);
  transition: -webkit-box-shadow var(--primary-translate);
  transition: box-shadow var(--primary-translate);
  transition: box-shadow var(--primary-translate), -webkit-box-shadow var(--primary-translate);
}
.portfolio__link:hover {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.wokr__name {
  padding: 20px 24px;
  border: 1px solid #ececec;
  border-top: 0;
}

.work__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--secondary-txt-cl);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.card-hidden {
  position: relative;
  overflow: hidden;
}

.type__work {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.48px;
  color: var(--main-txt-cl);
  font-family: var(--main-txt-cl);
}

.footer {
  background-color: #2f303a;
  text-decoration: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 767.98px) {
  .container__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .container__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 61px;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    margin-right: 94px;
  }
}

.footer__logo {
  display: block;
}

.address {
  width: 232px;
  margin-top: 20px;
}
@media screen and (min-width: 480px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.address__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 767.98px) {
  .address__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .address__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.address__item {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item {
    margin-bottom: 9px;
  }
}
.address__link {
  text-decoration: none;
  color: var(--white-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.42px;
}

.item-email {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .item-email {
    margin-bottom: 9px;
  }
}

.address-cont__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  font-style: normal;
}
.address-cont__link:hover, .address-cont__link:focus {
  color: var(--blue-cl);
}/*# sourceMappingURL=main.css.map */