:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Releway", sans-serif;
  /* text color */
  --main-txt-cl: #212121;
  --secondary-txt-cl: #757575;
  /* background-color */
  --main-bg-cl: #2f303a;
  --secondary-bg-cl: #ffffff;
}

body {
  font-family: var(--main-font);
}
/* Лінки */
.link,
.header-email,
.header-phone,
.link-address,
.footer-email,
.footer-phone {
  text-decoration: none;
  color: var(--main-txt-cl);
  font-family: var(--main-font);
}

/* --------------
  Секція Хедера
  ------------ */
/* Logo */
.link-logo {
  color: #2196f3;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}
.logo-black {
  color: #000000;
}

/* Cекція Героя */
.hero {
  background-color: var(--main-bg-cl);
}
/* Заголовок Героя */
.hero .title {
  color: #ffffff;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-align: center;
  text-transform: uppercase;
}
/* Кнопка Героя */
.btn {
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}
/* Секція особливостей працівників */
.section .title {

}

.footer-email,
.footer-phone,
.link-address {
  font-style: normal;
}
