:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* text color */
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  /* background-color */
  --main-bg-cl: #2f303a;
  --secondary-bg-cl: #ffffff;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  color: var(--main-txt-cl);
}
/* Лінки */
.link,
.link-studia,
.link-porfolio,
.header-email,
.header-phone,
.link-address,
.footer-email,
.footer-phone {
  text-decoration: none;
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
}

.link,
.link-studia,
.link-porfolio {
  color: var(--secondary-txt-cl);
}
.link:hover,
.link:focus,
.header-email:hover,
.header-email:focus,
.header-phone:hover,
.header-phone:focus {
  color: #2196f3;
  cursor: pointer;
}
.link-studia,
.link-porfolio {
  color: #2196f3;
  cursor: pointer;
}

.link,
.link-studia,
.link-porfolio,
.header-email,
.header-phone {
  font-weight: 500;
  letter-spacing: 0.28px;
}
.link-address,
.footer-email,
.footer-phone {
  color: #ffffff;
  line-height: 1.71;
  letter-spacing: 0.42px;
  font-style: normal;
}
.footer-email,
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
}
.link-filter {
  text-decoration: none;
}
/* --------------
  Секція Хедера
  ------------ */
/* Logo */
.link-logo {
  color: #2196f3;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: #ffffff;
}

/* -----------
  Cекція Героя
----------- */
.hero {
  background-color: var(--main-bg-cl);
  width: 1600px;
}
/* Заголовок Героя */
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-align: center;
  text-transform: uppercase;
  width: 696px;
}
/* Кнопка Героя */
.btn {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  background: #2196f3;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.btn-filters:hover,
.btn-filters:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Кнопки фільтрів */
.btn-filters,
.active-btn {
  color: var(--secondary-txt-cl);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  background-color: #f5f4fa;
}
.active-btn {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
/* ------------------
  Секція особливостей 
  ---------------- */
.item-studia {
  width: 270px;
}
.teasing-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  font-size: 14px;
}
.item-portfolio {
  width: 370px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
}

/* Секція тексту */
.teasing-text {
  color: var(--main-txt-cl);
  line-height: 1.71;
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.48px;
  color: var(--main-txt-cl);
}

/* --------
  Заголовки 
  ------- */
.title,
.title-work,
.title-team,
.title-human {
  color: var(--secondary-txt-cl);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.title-portfolio {
  color: var(--secondary-txt-cl);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
/* -----------------------
   Секція розробників 
   -------------------- */
.title-human {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.text-human {
  color: var(--main-txt-cl);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
}
.item-human {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.section-people {
  background-color: #f5f4fa;
}

/* --------
  Підвал
  ------  */
.footer {
  background-color: #2f303a;
  text-decoration: none;
}
.link-address:hover,
.link-address:focus,
.footer-email:hover,
.footer-email:focus,
.footer-phone:hover,
.footer-phone:focus {
  color: #2196f3;
}
.list,
.list-work,
.list-people,
.list-footer,
.list-filters {
  list-style: none;
}
