:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Releway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}
.link,
.link-logo,
.link-mail,
.link-tel,
.link-address {
  text-decoration: none;
}
/* Cекція Героя */
.hero {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  flex-shrink: 0;
}
/* Заголовок Героя */
.hero .title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
/* Кнопка Героя */
.hero .button {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  color: #ffffff;
  width: 216px;
  height: 50px;
  flex-shrink: 0;
}
