:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
  
    /* text color */
    --main-txt-cl: #757575;
    --secondary-txt-cl: #212121;
  
    /* background-color */
    --main-bg-cl: #2f303a;
    --secondary-bg-cl: #ffffff;
  
    /* color */
    --blue-cl: #2196f3;
    --white-cl: #ffffff;
    --black-cl: #000000;
    --main-cl: #757575;
  
    /* animatiom */
    --primary-translate: var(--primary-translate);
  }
  