.section {
    @include mq(not-mobile){
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    @include mq(mobile) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @include mq(tablet) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

     @include mq(desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }