.header {
    border-bottom: 1px solid #ececec;
    position: relative;
   
  }


.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav {
    display: flex;
    align-items: center;

    &__mobile { 
      margin: 0;
      width: 450px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
  .nav__list {
    margin-left: 93px;
    display: flex;
    gap: 50px;
    margin-top: 0;
    margin-bottom: 0;

    @include mq(mobile-only) {
      display: none;
    }

    &--link {
        color: #212121;
        font-family: var(--main-font);
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        margin: 0;
        transition: color var(--primary-translate);

      
      }
      
    &--link__current {
        position: relative;
        color: var(--blue-cl);
        cursor: pointer;
      }
    &--link__current::after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        bottom: 0;
        background-color: var(--blue-cl);
        height: 4px;
        border-radius: 2px;
        margin-bottom: -1px;
      }
    &--link:focus,
    &--link:hover {
      color: var(--blue-cl);
    }  
  }
 
  
  .contact--list {
    display: flex;
    gap: 30px;
    margin-left: auto;
    align-items: center;

    @include mq(mobile-only) {
      display: none;
    }
  }
  .contact__mail {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--main-txt-cl);
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition: color var(--primary-translate);

    &:hover,
    &:focus {
      color: var(--blue-cl);
      cursor: pointer;
    }

    &:hover .contact__icon,
    &:focus .contact__icon {
      fill: var(--blue-cl);
    }
  }

  .contact__tel {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--main-txt-cl);
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition: color var(--primary-translate);

    &:hover,
    &:focus {
      color: var(--blue-cl);
      cursor: pointer;
    }

    &:focus .contact__icon,
    &:hover .contact__icon {
      fill: var(--blue-cl);
    }
  }

  
  .contact__icon {
    margin-right: 10px;
    fill: var(--main-cl);
    transition: fill var(--primary-translate);
  }

.menu-button {
 
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    margin-left: auto;
    border-color: transparent;

  @include mq(tablet) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
 }
.menu-button.is-open .icon-cross {
  display: block;
 }
.menu-button.is-open .icon-menu {
  display: none;
 }
.svg-menu {
  background-color: white;
}
.menu-container {
  display: none;
  position: absolute;
  height: 500px;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 48px 40px 48px 40px;
  background-color: yellow;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
    
  }
 }