.hero {
    background-color: var(--main-bg-cl);
    text-align: center;
    width: 480;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/hero_style/hero-480.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;

    @include mq(retina) {
        background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/hero_style/hero-960.jpg");
       
    }

    @include mq(tablet-only) {

        background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/hero_style/hero-768.jpg");

        @include mq(retina) {
          background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../img/hero_style/hero-1536.jpg");
          
        }
       
      }
 
    @include mq(desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/hero_style/hero-1600.jpg");

        @include mq(retina) {
          background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../img/hero_style/hero-3200.jpg");
        }
    }

}

.main-title {
    color: var(--white-cl);
    font-weight: 900;
    letter-spacing: 1.56px;
    font-size: 26px;
    line-height: 1.61;
    text-transform: uppercase;
    width: 360px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 30px;

 
    @include mq(desktop) {
      font-size: 44px;
      width: 696px;
      line-height: 1.36;
      letter-spacing: 2.64px;

    }
  }
.hero__btn {
    color: var(--white-cl);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border: none;
    border-radius: 4px;
    background: var(--blue-cl);
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 24px;

    &:active {
        background-color: #188CE8;
        padding: 10px 32px;
    }
  }