.hero {
    background-color: var(--main-bg-cl);
    text-align: center;
    // width: 480px;
    // height: 400px;
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/hero_style/hero480.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    // background-size: 480px 400px;
    // background-size: 1600px 600px;
    padding-top: 118px;
    padding-bottom: 118px;


    @include mq(mobile-only) {
      .hero {
        width: 480px;
        height: 400px;
        background-image: url("../img/hero_style/hero480.jpg");
        background-size: 480px 400px;
      }
   
      @media (min-resolution: 2dppx) {
        .hero {
          background-image: url("../img/hero_style/hero480@2x.jpg");
        }
      }
      
    }
    @include mq(tablet-only) {
      .hero {
        width: 768px;
        height: 400px;
        background-image: url("../img/hero_style/hero768.jpg");
        background-size: 768px 400px;
      }
      @media (min-resolution: 2dppx) {
        .hero {
          background-image: url("../img/hero_style/hero768@2x.jpg");
        }
      }

    }

    // @include mq(desktop) {
    //   padding-top: 200px;
    //   padding-bottom: 200px;
    //   height: 600px;
    // }
  
  }

  .main-title {
    color: var(--white-cl);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 30px;

    @include mq(mobile) {
      font-size: 26px;
      line-height: 1.61;
      letter-spacing: 1.56px;
      width: 360px;
    }
  }
  .hero__btn {
    color: var(--white-cl);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border: none;
    border-radius: 4px;
    background: var(--blue-cl);
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 24px;

    &:active {
        background-color: #188CE8;
        padding: 10px 32px;
    }
  }